@charset "utf-8";
$font-family-notosan: "Noto Sans JP", "Noto Sans", "Yu Gothic", "Meiryo", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Roboto", sans-serif;

 /* --------------------------------------------------------------------------------------
 RESET
--------------------------------------------------------------------------------------- */
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

h2, h3, h4, h5 {
	font-weight: 600;
}

/* --------------------------------------------------------------------------------------
 COMMON
--------------------------------------------------------------------------------------- */
body {
	color: #333;
	font-family: $font-family-notosan;
	font-size: 16px;
    font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0;
	width: 100%;
	overflow-x: hidden;
	line-break: strict;
	
	&.no-scroll {
		overflow-y: hidden;
	}
}

html {
	width: 100%;
	overscroll-behavior: none;
}

input,
select,
textarea {
	font-family: $font-family-notosan;
	font-size: 100%;
	letter-spacing: 0;
}

a {
	color: #fff;
	cursor: pointer;
	outline: none;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	color: #fff;
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

strong{
	font-weight: 600;
}

sup {
	vertical-align: super;
    font-size: 10px;
}

img {
	width: 100%;
	height: auto;
	vertical-align: middle;
}

/* --------------------------------------------------------------------------------------
 HEADER
--------------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------------
 FOOTER
--------------------------------------------------------------------------------------- */
footer {
	background: linear-gradient(to bottom, rgba(27, 133, 11, 0.15) 0%, #FFFFFF 50%);

	.ftBannerBlock {
		padding-top: 8px;

		.ftImgGroup {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 30px;

			img {
				width: 100%;
				height: auto;
				object-fit: cover;

				&.logo {
					width: 178px;
				}

				&.fullImg {
					width: calc(100% - 208px);
				}
			}
		}

		.ftListGroup {
			display: flex;
			gap: 80px;
			margin-top:-14px;

			.ftSitemap {
				&:first-child {
					dd {
						width: 100%;
						display: flex;
						justify-content: space-between;
						gap: 40px;
						
						ul {
							width: fit-content;
						}
					}
				}

				&:not(:first-child) {
					position: relative;

					&::before {
						content: "";
						display: block;
						width: 1px;
						height: 78%;
						background-color: #333;
						position: absolute;
						left: -42px;
						top: 11px;
					}
				}

				&:last-child {
					dd {
						ul {
							li {
								&:last-child {
									margin-top: 30px;

									a {
										color: #967D64;
										text-decoration: underline;
										text-underline-offset: 2px;
										text-decoration-color: #967D64;
										font-weight: bold;
										font-size: 20px;
									}
								}
							}
						}
					}
				}

				dt {
					margin-bottom: 25px;

					p {
						font-weight: bold;
						font-size: 24px;
						color: #3CB174;
					}
				}
				
				dd {
					ul {
						li {
							margin-bottom: 17px;
							
							a {
								color:#333333;
								text-decoration: underline;
								text-underline-offset: 2px;
								text-decoration-color: #333333;

								span {
									display: block;
								}
							}
						}
					}
				}
			}
		}
	}
}