@charset "UTF-8";
/*-----------------------------------
common
------------------------------------*/
.pcOnly {
	display: block !important;
}

.spOnly {
	display: none !important;
}

/*ctInner*/
.ctInner {
	max-width: 1080px;
	margin: 0 auto;
}//ctInner

/*navList*/
.navList {
	width: 100%;
	background-color: #fff;
	left: 0;
	top: 0;
	z-index: 9;
	padding: 17px 15px;
	box-sizing: border-box;
	
	ul {
		width: 100%;
		max-width: 940px;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
		box-sizing: border-box;

		li {
			a {
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 20px;
				border-radius: 5px;
				box-sizing: border-box;
				gap: 5px;

				&::after {
					content: "";
					width: 12px;
					height: 7px;
					background-image: url('../img/common/arr_down_white.png');
					background-size: 100%;
					display: inline-block;
					flex-shrink: 0;
				}

				span {
					font-weight: bold;
					margin: 0 auto;
					color: #fff;
					line-height: 1.3;
					letter-spacing: 0;
				}
			}

			&:nth-child(1) {
				a {
					background-color: #AF001B;
				}
			}
			&:nth-child(2) {
				a {
					background-color: #967D64;
				}
			}
			&:nth-child(3) {
				a {
					background-color: #337AB8;
				}
			}
		}
	}
}//navList

/*blockTtl*/
.blockTtl {
	font-size: 40px;
	font-weight: 500;
	color: #3CB174;
	line-height: 1.3;
	text-align: center;

	span {
		font-size: 20px;
		font-weight: 700;
		color: #967D64;
		display: block;
	}
}//blockTtl

/*btnLink*/
.btnWrap {
	text-align: center;

	.btnLink {
		font-size: 18px;
		font-weight: 500;
		color: #fff;
		background: #3CB174;
		padding: 15px 80px 15px 60px;
		border-radius: 5px;
		text-align: center;
		display: inline-block;
		border: 2px solid transparent;
		transition: all 0.5s;
		border-radius: 35px;
		position: relative;
	
		&::after {
			content: '';
			display: inline-block;
			width: 8px;
			height: 16px;
			background: url('../img/common/arr_right.svg') no-repeat;
			background-size: 100% auto;
			position: absolute;
			right: 25px;
			top: calc(50% - 6px);
			transition: all 0.5s;
		}
	
		&:hover {
			background: #fff;
			border: 2px solid #3CB174;
			color: #3CB174;
	
			&::after {
				filter: brightness(0) saturate(100%) invert(67%) sepia(16%) saturate(1491%) hue-rotate(96deg) brightness(85%) contrast(88%);
			}
		}
	
		&.pdf {
			&::after {
				width: 22px;
				height: 26px;
				background: url('../img/common/icon_pdf.png') no-repeat;
				right: 46px;
				top: calc(50% - 13px);
			}
	
			&:hover {
				&::after {
					filter: none;
				}
			}
		
		}
	}
}//btnWrap

/*colCardList*/
.colCardList {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	flex-flow: wrap;
	margin-top: 100px;
	margin-bottom: 85px;
	column-gap: 20px;

	.card {
		display: grid;
		grid-row: span 6;
		grid-template-rows: subgrid;
		margin-bottom: 15px;

		&:hover {
			a {
				figure {
					img {
						transform: scale(1.1);
						opacity: 0.7;
					}
				}

				.seeMore {
					opacity: 0.7;
				}
			}
		}

		a {
			display: grid;
			grid-row: span 6;
			grid-template-rows: subgrid;
			box-sizing: border-box;
			width: 100%;
			background-color: #fff;
			box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
			border-radius: 8px;
			padding: 0 20px 40px 20px;
			border: 1px solid #D6D6D6;
			overflow: hidden;

			figure {
				overflow: hidden;
				width: calc(100% + 40px);
				box-sizing: border-box;
				margin-left: -20px;
				border-bottom: 2px solid #D6D6D6;
				max-height: 137px;
				
				img {
					transition: all 0.3s ease;
					transform: scale(1.05);
				}
			}

			.ttl {
				margin-top: 16px;
				font-size: 20px;
				font-weight: 700;
				color: #AF001B;
			}

			.category {
				padding: 1px 10px;
				background: linear-gradient(90deg, #4CC186 0%, #2CD48B 100%);
				width: fit-content;
				border-radius: 15px;
				font-size: 12px;
				font-weight: 700;
				color: #FFF;
				margin-top: 8px;
			}

			.subTtl {
				font-weight: 500;
				color: #000;
				margin-top: 2px;
			}

			.desc {
				font-size: 16px;
				color: #000;
				margin: 7px 0 53px;
			}

			.seeMore {
				font-size: 14px;
				font-weight: 500;
				display: block;
				width: fit-content;
				margin: auto 0 0 auto;
				padding-right: 28px;
				position: relative;
				transition: opacity 0.3s ease;
				color: #3CB174;

				&::after {
					content: '';
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
					background: url(../img/common/icon_green_right.png) no-repeat center/cover;
					width: 20px;
					height: 20px;
				}
			}
		}
	}
}//colCardList

/* Breadcrumb */
.breadcrumbs {
	max-width: 1080px;
	margin: 0 auto;

	ul {
		display: flex;
		flex-flow: wrap;
        align-items: center;
		padding: 10px 0;
		margin-left: 105px;	

		li {
			position: relative;
			padding-right: 20px;
            white-space: nowrap;
			color: #333;

            &::after {
				content: "";
				width: 7px;
				height: 13px;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 6px;
				background: url(../img/common/arr_right_link.png) no-repeat center;
				background-size: contain;
			}

			&:last-child {
				padding-right: 0;
                margin-right: 0;
                white-space: normal;

				&::after {
					display: none;
				}
			}

			a {
				color: #333;
			}

			&:not(:last-child) {
				a {
					text-decoration: underline;
					text-underline-offset: 2px;
					text-decoration-color: #333;
				}
			}
		}
	}
}//breadcrumbs

/* --------------------------------------------------------------------------------------
ctTop
--------------------------------------------------------------------------------------- */
.ctTop {
	.experienceBlock {
		padding: 77px 0 113px;
		background: linear-gradient(180deg, rgba(11, 133, 113, 0.1) 0%, rgba(255, 255, 255, 0) 100%);

		.ctInner {
			position: relative;
		}

		.floatingImages {
			li {
				position: absolute;
				pointer-events: none;

				&:first-child {
					top: -143px;
					left: -10px;
					width: 170px;
				}

				&:nth-child(2) {
					width: 127px;
					top: 14px;
					left: 105px;
				}

				&:nth-child(3) {
					width: 151px;
					top: 186px;
					left: -64px;
				}

				&:nth-child(4) {
					top: -20px;
					right: 35px;
					width: 190px;
				}

				&:nth-child(5) {
					top: 161px;
					right: -50px;
					width: 181px;
				}

				&:nth-child(6) {
					top: calc(48% + 22px);
					left: -55px;
					width: 116px;
				}

				&:nth-child(7) {
					top: calc(53% + 12px);
					left: 63px;
					width: 86px;
				}

				&:nth-child(8) {
					top: calc(50% + 2px);
					right: 5px;
					width: 172px;
				}

				&:last-child {
					bottom: -79px;
					right: 22px;
					width: 119px;
				}
			}

		}

		.blockTtl {
			margin-bottom: 46px;

			span {
				margin-top: 3px;
			}

			& + .desc {
				text-align: center;
				line-height: 2;
				color: #3C3F42;
				margin-bottom: 92px;
			}
		}


		.redTtl {
			text-align: center;
			color: #AF001B;
			font-weight: 700;
			font-size: 32px;
			line-height: 1.25;
			margin-bottom: 44px;
		}
		
		.para {
			max-width: 770px;
			margin: 0 auto 46px;
			color: #3C3F42;
			line-height: 1.5;
		}

		.lessons {
			gap: 30px;
			margin-bottom: 100px;
			width: calc(100% + 10px);
			transform: translateX(-5px);
			display: grid;
			grid-template-columns: repeat(2,1fr);

			& > li {
				overflow: hidden;
				border-radius: 30px;
				padding: 0 15px 15px;
				box-sizing: border-box;
				display: grid;
				grid-row: span 6;
				gap: 0;
				grid-template-rows: subgrid;

				.imgArea {
					align-content: center;
					margin: 0 auto;
				}

				.content {
					grid-row: span 6;
					display: grid;
					grid-template-rows: subgrid;
					background-color: #fff;
					padding: 15px 43px;
					border-radius: 0 0 20px 20px;

					.lessonTtl {
						color: #AF001B;
						font-weight: 700;
						font-size: 24px;
						line-height: 1.25;
						text-align: center;
						margin-bottom: 15px;
					}

					.labelBadge {
						font-size: 14px;
						margin-bottom: 10px;
						
						.badge {
							color: #fff;
							padding: 1px 10px 2px;
							margin-right: 8px;
							font-weight: 700;
							font-size: 12px;
							line-height: 1;
							border-radius: 15px;
							background: linear-gradient(180deg, #4CC186 0%, #2CD48B 100%);
						}
					}

					.text {
						margin-bottom: 10px;
					}
					
					a {
						color: #3CB174;
						font-weight: 500;
						font-size: 14px;
						display: block;
						width: fit-content;
						position: relative;
						padding-right: 28px;
						margin: 0 0 3px auto;

						&::after {
							content: "";
							position: absolute;
							background: url("../img/common/arrow_right_green.png") no-repeat center/contain;
							width: 20px;
							height: 20px;
							top: 50%;
							transform: translateY(-50%);
							right: 0;
							display: block;

						}
					}
				}
				
				&.kyaramel {
					background-color: #FFDA2B;

					.imgArea {
						padding: 22px 0;
						width: 242px;
						
					}
				}

				&.foodRelated {
					background-color: #399330;

					.imgArea {
						padding: 10px 0;
						width: 340px;
					}
				}

				&.future {
					background-color: #ACE7F4;

					.imgArea {
						width: 340px;
						padding: 14px 0;

					}
				}

				&.pictureBooks {
					background-color: #967D64;

					.imgArea {
						width: 330px;
					}
				}
			}

			& + .btnWrap {
				margin-bottom: 140px;

				.btnLink {
					width: 306px;
					box-sizing: border-box;
				}
			}
		}

		.performanceArea {
			margin-bottom: 62px;

			.areaTtl {
				width: fit-content;
				margin: 0 auto 53px;
				font-weight: 700;
				font-size: 24px;
				position: relative;
				color: #AF001B;

				&::before,
				&::after {
					content: "";
					position: absolute;
					border-bottom: 2px solid #967D64;
					width: 50px;
					top: 50%;
					transform: translateY(-50%);
				}

				&::before {
					left: -60px;
				}

				&::after {
					right: -60px;
				}
			}

			.twoCol {
				display: flex;
				gap: 35px;

				.statsCol {
					display: flex;
					flex-direction: column;
					gap: 5px;
					flex: 1;

					dl {
						display: flex;
						overflow: hidden;
						box-shadow: 0 2px 3px #00000056;


						dt {
							width: 224px;
							background-color: #967D64;
							font-weight: 700;
							font-size: 18px;
							line-height: 1.25;
							color: #fff;
							text-align: center;
							padding: 34px 0;
						}

						dd {
							text-align: center;
							flex: 1;
							font-weight: 700;
							font-size: 24px;
							line-height: 1.25;
							align-content: center;
						}

						&:first-child {
							border-radius: 20px 20px 0 0;
						}

						&:last-child {
							border-radius: 0 0  20px 20px;
						}
					}
				}

				.imgCol {
					width: 550px;
					
					.slider {
						padding-bottom: 44px;

						.slick-autoplay-toggle-button {
							display: none;
						}

						.slick-dots {
							position: absolute;
							bottom: 0;
							left: 0;
							right: 0;
							display: flex;
							justify-content: center;
							gap: 25px;
							margin: 0;
							padding: 0;
							list-style: none;
							
							li {
								margin: 0;
								line-height: 0;
								
								button {
									width: 14px;
									height: 14px;
									padding: 0;
									border: none;
									border-radius: 50%;
									background-color: #D9D9D9;
									cursor: pointer;
									font-size: 0;
									transition: background-color 0.3s ease;
								}
								
								&.slick-active {
									button {
										background-color: #967D64;
									}
								}
							}
						}

						.slick-list {
							height: 100%;
						}
					
						.slick-track {
							height: 100%;
							line-height: 0;
						}
					
						.slick-slide {
							& > div {
								height: 100%;
	
								figure {
									border-radius: 20px;
									overflow: hidden;
								}
							}
						}
					}
				}
			}

			& + .btnWrap {
				margin-bottom: 60px;

				.btnLink {
					width: 348px;
					box-sizing: border-box;

					&.pdf {
						&::after {
							right: 76px;
						}
					}
				}
			}
		}

		.tourArea {
			.tsurumiFactory {
				& > a {
					display: flex;
					box-shadow: 0px 4px 4px 0px #0000001A;
					border: 1px solid #D6D6D6;
					border-radius: 20px;
					padding: 30px;
					gap: 39px;

					& > figure {
						width: 470px;
					}

					.content {
						flex: 1;

						.ttl {
							color: #AF001B;
							font-size: 24px;
							font-weight: 700;
							line-height: 1.25;
							transform: translateY(-8px);
						}

						.notice {
							color: #967D64;
							font-size: 20px;
							font-weight: 700;
							margin-bottom: 14px;
						}

						.category {
							padding: 1px 10px;
							background: linear-gradient(90deg, #4CC186 0%, #2CD48B 100%);
							width: fit-content;
							border-radius: 15px;
							font-size: 12px;
							font-weight: 700;
							color: #FFF;
							display: inline-block;
							margin-right: 3px;
						}
			
						.subTtl {
							display: inline-block;
							font-weight: 400;
							font-size: 14px;
							color: #000;
						}
			
						.desc {
							color: #333;
							margin: 24px 0;

						}
			
						.seeMore {
							font-size: 14px;
							font-weight: 500;
							display: block;
							width: fit-content;
							margin: auto 0 0 auto;
							padding-right: 28px;
							position: relative;
							transition: opacity 0.3s ease;
							color: #3CB174;
			
							&::after {
								content: '';
								position: absolute;
								right: 0;
								top: 50%;
								transform: translateY(-50%);
								background: url(../img/common/icon_green_right.png) no-repeat center/cover;
								width: 20px;
								height: 20px;
							}
						}
					}
				}
			}

			.colCardList {
				grid-template-columns: repeat(3,1fr);
				margin-top: 30px;
				margin-bottom: 0;
				column-gap: 30px;
	
				.card {
					&:hover {
						figure {
							transform: scale(1.05);
						}
					}
					
					a {
						figure {
							max-height: 100%;
							transition: all 0.3s ease;
							
							img {
								transform: none;
							}
						}

						.ttl {
							font-size: 18px;
						}
	
						.subTtl {
							color: #333;
							font-weight: 400;
						}
	
						.desc {
							margin: 7px 0 18px;
							color: #333;
						}
					}
				}
			}
		}

	}//experienceBlock

	.bnrBlock {
	}

	.visionBlock {
		background-image: linear-gradient(to bottom, rgba(27, 133, 11, 0.1), rgba(255, 255, 255, 0.1));

		.ctInner {
			.visionBlockInner {
				position: relative;
				padding-top: 185px;
				margin-bottom: 105px;

				.titleImg {
					width: 100%;
					max-width: 300px;
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					top: -97px;
				}

				.titleTxtImg {
					width: 100%;
					max-width: 642px;
					margin: 0 auto;
					margin-bottom: 70px;
				}

				.text {
					text-align: center;
					line-height: 2.5;
					letter-spacing: 0;

					.intro {
						display: block;
					}
				}

				.photoImg {
					position: absolute;

					&.photoImg1 {
						width: 168px;
						top: 218px;
						left: -12px;
						z-index: 2;
					}

					&.photoImg2 {
						width: 211px;
						top: 336px;
						left: 26px;
					}

					&.photoImg3 {
						width: 140px;
						top: 540px;
						left: 10px;
					}

					&.photoImg4 {
						width: 133px;
						top: 130px;
						right: 9px;
					}

					&.photoImg5 {
						width: 187px;
						top: 335px;
						right: 44px;
					}

					&.photoImg6 {
						width: 178px;
						top: 526px;
						right: 0px;
					}
				}
			}

			.infoBlock {
				display: flex;
				justify-content: center;
				align-items: center;
				column-gap: 50px;
				position: relative;
				padding-bottom: 19px;

				.infoList {
					width: 100%;
					max-width: 667px;

					li {
						display: flex;
						align-items: center;
						gap: 25px;
						padding: 18px 16px 24px 24px;
						box-sizing: border-box;
						border: 1px solid #D6D6D6;
						border-radius: 10px;
						position: relative;

						&:not(:last-child) {
							margin-bottom: 20px;
						}

						.imgCol {
							width: 130px;
							background-color: #FFFFFF;
							flex-shrink: 0;
							border: 1px solid #D6D6D6;
							border-radius: 5px;
							overflow: hidden;

							img {
								width: 100%;
								height: 100%;
								object-fit: cover;
							}
						}

						.textCol {
							.title {
								font-size: 18px;
								font-weight: bold;
								width: fit-content;
								line-height: 1.44;
								display: block;
								letter-spacing: 0;
								position: relative;
								z-index: 2;
							}

							.text {
								margin-top: 2px;
								letter-spacing: 0;
								line-height: 1.5;
								position: relative;
								z-index: 2;
							}

							.link {
								font-weight: 500;
								margin-top: 2px;
								color: #337AB8;
								text-decoration: 1px underline solid;
								line-height: 1.5;
								letter-spacing: 0;
								
								&::before {
									content: "";
									width: 100%;
									height: 100%;
									position: absolute;
									left: 0;
									top: 0;
									z-index: 1;
									cursor: pointer;
									display: none;
								}
							}
						}
					}
				}

				.infoFloatImg {
					position: absolute;

					&.infoFloatImg1 {
						width: 110px;
						top: 31px;
						left: -44px;
					}

					&.infoFloatImg2 {
						width: 125px;
						top: -19px;
						right: -35px;
					}

					&.infoFloatImg3 {
						width: 220px;
						bottom: -10px;
						right: -101px;
					}
				}
			}
		}
	}

	.knowledgeBlock {
		background: #1B850B;
		background: linear-gradient(180deg, rgba(27, 133, 11, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%);
		padding: 30px 0 80px;
		position: relative;

		.floatImg {
			position: absolute;

			&.floatImg1 {
				top: -120px;
    			left: max(calc(50% - 640px), 1px);
				width: 215px;
			}

			&.floatImg2 {
				top: -12px;
				right: calc(50% - 560px);
				width: 110px;
			}
		}

		.blockTtl {
			margin-bottom: 50px;
		}
		
		.text {
			text-align: center;
			line-height: 2;
			color: #3C3F42;
		}
	}

}//ctTop
