@media (max-width: 1200px) {
	/*-------------------------------------
	Common
	---------------------------------------*/
	.pcOnly {
		display: none !important;
	}

	.spOnly {
		display: block !important;
	}

	/* Header */

	/* Footer */

	/*ctInner*/
	.ctInner {
		max-width: 100%;
		padding: 0 30px;
	}//ctInner

	/* --------------------------------------------------------------------------------------
	ctTop
	--------------------------------------------------------------------------------------- */
	.ctTop {

	}//ctTop

}