@media (max-width: 1100px) {
	/*-------------------------------------
	Common
	---------------------------------------*/
	.pcOnly {
		display: none !important;
	}

	.spOnly {
		display: block !important;
	}

	/* breadcrumbs */
	.breadcrumbs {
		max-width: 100%;
		padding: 0 20px;
		
		ul {
			margin-left: 0;
		}
	}//breadcrumbs

	/* Header */

	/* Footer */
	footer {
		position: relative;

		.ftBannerBlock {
			margin: 120px 0 130px;

			.ftImgGroup {
				position: relative;
				flex-direction: column;
				align-items: center;
				z-index: 1;
				
				img {
					position: absolute;

					&:first-child {
						top: 0;
						left: 50%;
						transform: translate(-50%, -50%);
						max-width: 178px;
					}
					
					&:last-child {
						max-width: 160px;
						top: 117px;
						right: -28px;
					}
				}
			}

			.ftListGroup {
				position: relative;
				flex-direction: column;
				gap: 50px;
				margin-top: 107px;
				max-width: 230px;
				z-index: 2;

				.ftSitemap {
					&:first-child {
						dd {
							width: 100%;
							max-width: 100%;
							display: block;
							justify-content: flex-start;
							gap: 0;
							
							ul {
								&:first-child {
									width: 100%;
									max-width: 100%;
								}

								&:last-child {
									width: 100%;
									max-width: 100%;
								}
							}
						}
					}

					&:last-child {
						dd {
							ul {
								li {
									&:last-child {
										a {
											white-space: nowrap;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}//footer

	/*ctInner*/
	.ctInner {
		max-width: 100%;
		padding: 0 20px;
		padding: 0 20px;
	}//ctInner

	/*navList*/
	.navList {
		min-height: 68px;
		.navListInner {
			padding: 14px 15px;
		}
		
		ul {
			gap: 15px;

			li {
				a {
					padding: 11px 13px;
					border-radius: 10px;
					text-align: center;

					&::after {
						display: none;
					}

					span {
						font-size: 14px;
					}
				}
			}
		}
	}//navList
	
	/*blockTtl*/
	.blockTtl {
		font-size: 28px;

		span {
			font-size: 16px;
			margin-top: 17px;
		}
	}//blockTtl

	/*colCardList*/
	.colCardList {
		grid-template-columns: repeat(1, 1fr);
		margin-top: 55px;

		.card {
			margin-bottom: 30px;

			a {
				padding: 0 25px 30px 25px;
				border: none;

				figure {
					width: calc(100% + 50px);
					margin-left: -25px;
					border-bottom: none;
					max-height: 100%;
				}

				.desc {
					margin: 7px 0 53px;
				}
			}
		}
	}//colCardList

	/* --------------------------------------------------------------------------------------
	ctTop
	--------------------------------------------------------------------------------------- */
	.ctTop {
		.bnrBlock {
			figure {
				img {
					height: 400px;
					object-fit: cover;
					object-position: center;
				}
			}
		}

		.visionBlock {
			.ctInner {
				.visionBlockInner {
					padding-top: 130px;
					margin-bottom: 75px;

					.titleImg {
						max-width: 213px;
						top: -64px;
					}

					.titleTxtImg {
						margin-bottom: 30px;
					}

					.text {
						line-height: 2;
						
						.intro {
							margin-bottom: 33px;
						}
					}

					.photoImg {
						display: none;
					}
				}

				.infoBlock {
					flex-direction: column;
					column-gap: 0;
					row-gap: 20px;
					padding-bottom: 70px;

					.infoList {
						max-width: 100%;

						li {
							flex-direction: column;
							gap: 23px;
							padding: 24px 24px;

							.imgCol {
								width: 100%;
								aspect-ratio: 300/200;
							}

							.textCol {
								width: 100%;

								.link {
									margin-top: 30px;
									display: block;
									width: fit-content;
									margin-left: auto;
								}
							}
						}
					}

					.infoFloatImg {
						display: none;
					}
				}
			}
		}

		.experienceBlock {
			padding: 52px 0 48px;

			.floatingImages {
				display: none;
			}

			.blockTtl {
				margin-bottom: 25px;

				span {
					margin: 8px;
				}

				& + .desc {
					color: #000;
					margin-bottom: 46px;
				}
			}

			.redTtl {
				font-size: 20px;
				margin-bottom: 26px;
			}

			.para {
				line-height: 2;
				margin-bottom: 39px;
			}

			.lessons {
				display: flex;
				flex-direction: column;
				width: 100%;
				transform: translateX(0);
				gap: 20px;
				margin-bottom: 39px;

				& > li {
					width: 100%;
					border-radius: 20px;
					padding: 0 7px 7px;
					
					.content {
						padding: 14px 18px;
						border-radius: 0 0 15px 15px;

						.lessonTtl {
							font-size: 18px;
							line-height: 1.35;
							text-align: left;
						}

						.labelBadge {
							.badge {
								display: block;
								width: fit-content;
								padding: 3px 10px 4px;
								margin-bottom: 6px;
							}
						}

						.text {
							margin-bottom: 7px;
						}

						a {
							margin: 0 0 0 auto;
						}
					}

					&.kyaramel {
						.imgArea {
							width: 54.4%;
							padding: 23px 0 29px;
						}
					}
					
					&.foodRelated {
						.imgArea {
							width: 80.3%;
							padding: 26px 0;
						}
					}

					&.future {
						.imgArea {
							width: 75.3%;
							padding: 26px 0 31px;
						}
					}
					
					&.pictureBooks {
						.imgArea {
							width: 77.5%;
							padding: 26px 0;
						}
					}
				}

				& + .btnWrap {
					margin-bottom: 72px;

					.btnLink {
						font-size: 16px;
						padding: 12px 80px 12px 60px;
						width: 285px;
					}
				}
			}

			.performanceArea {
				margin-bottom: 45px;

				.areaTtl {
					font-size: 18px;
					margin-bottom: 37px;

					&::before,
					&::after {
						width: 50px;
					}
				}

				.twoCol {
					flex-direction: column;
					gap: 32px;

					.statsCol {
						gap: 3px;

						dl {
							dt {
								width: 159px;
								font-size: 13px;
								padding: 25px 0 ;
							}

							dd {
								font-size: 18px;
							}

							&:first-child {
								border-radius: 15px 15px 0 0;
							}
	
							&:last-child {
								border-radius: 0 0  15px 15px;
							}
						}
					}

					.imgCol {
						width: 100%;

						.slider {
							padding-bottom: 36px;
						}
					}
				}

				& + .btnWrap {
					margin-bottom: 73px;

					.btnLink {
						width: 320px;
						font-size: 16px;
						padding: 12px 80px 12px 60px;
					}
				}
			}

			.tourArea {
				.redTtl {
					font-size: 18px;
					line-height: 1.43;
					margin-bottom: 14px;
				}

				.tsurumiFactory {
					a {
						flex-direction: column;
						padding: 0;
						gap: 0;

						figure {
							width: 100%;
						}

						.content {
							padding: 27px 20px 20px;

							.ttl {
								font-size: 18px;
								color: #000;
								line-height: 1.4;
								margin-bottom: 13px;
							}

							.subTtl {
								font-size: 16px;
								font-weight: 500;
							}

							.category {
								display: block;
							}

							.desc {
								margin: 20px 0;
								line-height: 1.4;
								color: #000;
							}
						}
					}
				}

				.colCardList {
					grid-template-columns: repeat(1,1fr);
					margin-top: 18px;
					row-gap: 20px;

					.card {
						margin-bottom: 0;
						gap: 0;

						a {
							padding: 0 25px 24px 25px;

							figure {
								aspect-ratio: 350 / 196;
							}

							.ttl {
								color: #000;
								font-size: 18px;
								margin-bottom: 10px;
							}

							.subTtl {
								color: #000;
							}

							.desc {
								margin: 20px 0 12px;
								color: #000;
							}
						}
					}
				}
			}

		}

		.knowledgeBlock {
			padding: 40px 0 100px;
		}
	}//ctTop
}